@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "base/fonts/fonts";
@import "base/fontawesome/font-awesome";

body {
    @include raleway-font-stack();
}
a {
    color: $text-basic;
}

h1{
    line-height: 1.1;
}

@include respond-to(tab){
    h1{
        font-size: 3.4vw;
    }   
}