<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<contentSearch>
			<indexConfigurations>
				<CGPConfiguration>
					<documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="contenttype" returnType="text" indexed="true" stored="true">CGP.Foundation.Search.Indexing.ComputedFields.ContentType, CGP.Foundation.Search</field>
							<field fieldName="productimage" returnType="text" indexed="true" stored="true">CGP.Foundation.Search.Indexing.ComputedFields.ProductImage, CGP.Foundation.Search</field>
							<field fieldName="contentdesktopimage" returnType="text" indexed="true" stored="true">CGP.Foundation.Search.Indexing.ComputedFields.ComputedDesktopImage, CGP.Foundation.Search</field>
							<field fieldName="contentmobileimage" returnType="text" indexed="true" stored="true">CGP.Foundation.Search.Indexing.ComputedFields.ComputedMobileImage, CGP.Foundation.Search</field>
							<field fieldName="contenturl" returnType="text" indexed="true" stored="true">CGP.Foundation.Search.Indexing.ComputedFields.ContentUrl, CGP.Foundation.Search</field>
							<field fieldName="productattributelist" returnType="stringCollection" indexed="true" stored="true">CGP.Foundation.Search.Indexing.ComputedFields.ProductAttributeList, CGP.Foundation.Search</field>
						</fields>
					</documentOptions>
				</CGPConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>
