@import "vars/colors";
@import "vars/margins";
@import "vars/fontSizes";

$line-height:1.42857143;

/* font declaration */
$primary-font:'Raleway', sans-serif;
$secondary-font:"Helvetica Neue", Helvetica, Arial, sans-serif;

/* color declaration */

$primary-color:$text-basic;
