<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<generateScribanContext>
				<processor type ="CGP.Foundation.SitecoreExtensions.Pipelines.Scriban.GetSitecoreSettings, CGP.Foundation.SitecoreExtensions" resolve="true"/>
			</generateScribanContext>
		</pipelines>
	</sitecore>
</configuration>
